.board {
  position: relative;
  display: grid;
  grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
}

.tiles {
  display: grid;
  grid-template-columns: repeat( 8, var( --tile-size ));
  grid-template-rows: repeat( 8, var( --tile-size ));
  width: calc( 8 * var( --tile-size ));
}

.tile{
  position: relative;
}

.tile--light {
  background: var(--light-tile);
}

.tile--dark {
  background: var(--dark-tile);
}

.highlight:after {
  content: ' ';
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
  left: 25%;
  top: 5%;
}

.attacking:after {
  content: ' ';
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 25%;
  top: 5%;
  border: 6px solid blue;
}
